/* .page {
  position: relative;
  overflow: hidden;
} */

.container {
  background-color: antiquewhite;
  position: absolute;
  top: 160px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.up-level {
  width: 100%;
  background-color: aquamarine;
  flex: 50;
  display: flex;
}
.down-level {
  width: 100%;
  background-color: brown;
  flex: 50;
}
.intro1 {
  flex: 1;
  background-color: rgb(124, 191, 95);
}
.picture1 {
  flex: 1.5;
  width: 400px;
  height: 700px;
  /* background-image: url("../asset/HomePage.jpg"); */
  background-color: burlywood;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: 55% 50%; */
  /* background-position: center center; */
}
.pic1 {
  /* background-position: center center; */
  background-size: cover;
  width: 900px;
  height: 1000px;
}
