.leaflet-container {
  height: 300px;
  width: 500px;
}

@media screen and (max-width: 780px) {
  .leaflet-container {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 558px) {
  .leaflet-container {
    width: 200px;
    height: 200px;
  }
}
